:root{
    --primary: #04d6cf;
    --dark-bg: #0d1117;
    --light-text: #E6F1F1;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: var(--dark-bg);
    color: var(--light-text); 
    overflow-x: hidden;
}

.name-page{
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-page{
    margin: 6px;
    width: 40px;
    height: 40px;
}

.icones{
    transition: 0.05;
}

.icones:hover{
    font-size: 20px;
    color: var(--primary);
}


.container{
    max-width: 80%;
    margin: 0;
    padding: 0px 20px;
}

.header-container{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-menu{
    display: flex;
    gap: 30px;
    padding: 12px 30px;
    background: #ffffff0d;
    backdrop-filter: blur(8px);
    border-radius: 40px;
    border: 1px solid  #ae00ff33;
    list-style: none;
    margin: 0px -200px 0px 0px;
}

.header-menu li{
    text-decoration: none;
}

.item-menu{
    color: var(--light-text);
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.item-menu:hover{
    color:var(--primary)
}

.container-rodape{
    max-width: 1850px;
    margin: 20px;
    padding: 0px 20px;
}

.newsletter-form { 
    display: flex; 
    gap: 10px;
    margin: 40px auto 40px; 
}

.newsletter-form input { 
    flex: 1; 
    padding: 15px; 
    border-radius: 8px; 
    background: rgba(255,255,255,0.05); 
    border: 1px solid #30363d; 
    color: white; 
}

.newsletter-form button {
     padding: 15px 30px;
    background: var(--primary); 
    border: none; 
    border-radius: 8px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: 0.3s;
}

.footer-social{
    font-size: 17px;
}

